<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Courier New", Courier, monospace;
      }

      p {
        font-size: 25px;
      }

      .additional-info p {
        font-size: 18px;
      }

      p span {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <p>{{message}}</p>
    <div class="additional-info">
      <p><span>Sender's Name:</span> {{name}}</p>
      <p><span>Sender's Email:</span> {{email}}</p>
    </div>
  </body>
</html>
